// Media queries for various devices

// Phones
@media screen and (max-width: 600px) {
    
    #home-header {
        &-top {
            flex-direction: column;
        }
    }

    #home-portfolio {
        &-wrapper {
            padding: 2rem 1rem;
        }
    }

    .portfolio-row {
        flex-direction: column;

        &-description {
            border-radius: 0rem 0rem 0.7rem 0.7rem;
        }
    }

    .portfolio-row-image-screenshot-wrapper {
        display: none;
    }

    #home-about {
        &-content {
            img {
                // float: none;
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }

    #footer {
        &-wrapper {
            flex-direction: column;
            gap: 1rem;
        }
    }
}

// Tablets
@media screen and (min-width: 768px) and (max-width: 1000px) {
    #home-portfolio {
        &-wrapper {
            padding: 2rem 3rem;
        }
    }
}