// Media queries for various devices

// Phones
@media screen and (max-width: 600px) {
    
    #home-header {
        &-top {
            flex-direction: column;
        }

        &-content {
            flex-direction: column-reverse;

            &-left {
                padding: 0rem 2rem 2rem 2rem; 
                h1 {                    
                    font-size: 2rem;
                }
            }


            &-right {
                justify-content: center;

                img {
                    width: 60%;
                }
            }
        }
    }

    #home-portfolio {
        &-wrapper {
            padding: 2rem 1rem;
        }
    }

    .portfolio-row {
        flex-direction: column;

        &-description {
            border-radius: 0rem 0rem 0.7rem 0.7rem;
        }
    }

    .portfolio-row-image-screenshot-wrapper {
        display: none;
    }

    #home-about {
        &-content {
            img {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }

    #footer {
        &-wrapper {
            flex-direction: column;
            gap: 1rem;
        }
    }
}

// Small Phones
@media screen and (max-width: 500px) and (max-height: 760px) {
    #home-header {
        height: 100vh;
        &::before {
            height: 100vh;
        }
    }
}


// Tablets portrait
@media screen and (min-width: 768px) and (max-width: 1000px) {
    #home-header {    
        height: 70vh;

        &::before {
            height: 70vh;
        }

        &-wrapper {
            padding: 0rem 2rem;
        }

        &-content {
            &-right {
                img {
                    width: 90%;
                }
            }
        }
    }

    #home-portfolio {
        &-wrapper {
            padding: 2rem;
        }
    }

    .portfolio-row {
        &:hover .portfolio-row-image-screenshot-wrapper {
            top: 40%;
        }
    }

    .portfolio-row-image-screenshot-wrapper {
        transition: none;
    }
}

// Phones landscape
@media screen and (min-width: 600px) and (max-height: 450px) {
    #home-header {
        height: 100vh;

        &-wrapper {
            padding: 0rem 2rem;
        }

        &::before {
            height: 100vh;
        }

        &-content {
            &-left {
                h1 {                    
                    font-size: 2rem;
                }
            }

            &-right {
                align-items: center;
                img {
                    width: 60%;
                }
            }
        }
    } 

    #home-portfolio {
        &-wrapper {
            padding: 2rem;
        }
    }

    .portfolio-row {
        &:hover .portfolio-row-image-screenshot-wrapper {
            top: 40%;
        }
    }

    .portfolio-row-image-screenshot-wrapper {
        transition: none;
    }
}

// Tablets landscape
@media screen and (min-width: 1000px) {
    #home-header {

        &-wrapper {
            padding: 0rem 2rem;
        }
    }
}