// Colors

// Background
$primary-color: #3aca6a;
$secondary-color: #DDDDDD;
$primary-background: #222222;
$secondary-background: #444444;
$tertiary-background: #666666;

// Text
$text-light-color: #DDDDDD;
$text-dark-color: #333333;

// Shadows
$shadow-dark-color: #111111;