@import 'variables';
@import 'global';
@import 'utils';

#home-header {
    height: 85vh;
    background-image: radial-gradient(farthest-corner at 100% 0%, $secondary-background, $primary-background);

    &::before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 85vh;
        background: url(../img/home-pattern.png) no-repeat center center/cover;
        opacity: 0.05;
        z-index: 0;
    }

    & * {
        z-index: 1;
    }

    &-wrapper {
        @extend %container;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-top {       
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
    
        p:first-child {
            font-size: 2.5rem;
        }
    
        ul {
            display: flex;
            list-style: none;
    
            li {
                padding: 1rem;
    
                a {
                    font-size: 1.1rem;
                }
            }
        }
    }

    &-content {
        display: flex;
        height: 100%;

        &-left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1 {
                white-space: pre-line;
                font-size: 4rem;
                text-shadow: 3px 3px 4px $shadow-dark-color;
            }

            p {
                margin-top: 1rem;
                font-weight: 100;
            }

            .btn {
                margin-top: 1.5rem;
            }

            &-lang {
                margin-top: 1.5rem;
                display: flex;
                gap: 1rem;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &-right {
            flex: 1;
            display: flex;            
            align-items: center;
            justify-content: flex-end;

            img {
                width: 70%;
                border-radius: 50%;
                border: $text-light-color 0.5rem solid;
                box-shadow: 3px 3px 4px $shadow-dark-color;
            }
        }
    }
}

#home-portfolio {
    &-wrapper {
        @extend %container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 8rem;
    }
}

.portfolio-row {
    align-self: stretch;
    display: flex;
    margin-top: 2rem;
    background-color: #333;
    border-radius: 0.7rem;
    box-shadow: 3px 3px 5px #333;
    min-height: 400px;

    &:hover .portfolio-row-image-screenshot-wrapper {
        top: 8%;
    }

    &-image {
        position: relative;
        flex: 1;
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    &-description {
        position: relative;
        flex: 2 0;
        padding: 2rem;
        background-color: #2a2a2a;
        border-radius: 0.7rem 0.7rem 0.7rem 0rem;
        font-weight: 300;

        ul {
            margin-top: 1.3rem;
            list-style-position: inside;

            li {
                line-height: 1.2;
                margin: 0.5rem 0rem;
                font-weight: 300;
            }
        }
    }

    &-title {
        font-size: 2.5rem;
        margin: 1.5rem 0rem;
    }
}

.portfolio-logo {
    width: 100px;
    height: 100px;
}

.portfolio-screenshot {
    display: flex;
    margin: auto;
    width: 70%;
    border: #333 1px solid;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 3px #111;
}

.portfolio-row-image-screenshot-wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.portfolio-row-timeframe {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: $secondary-background;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: 500;
}

#footer {
    padding: 1.5rem;
    background-color: $primary-background;

    &-wrapper {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-social-link {
    margin: 0rem 0.7rem;
    color: $text-light-color;

    &:hover {
        color: $primary-color;
    }
}


@import 'devices';